
:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
  }

.left {
    margin-right: 13px;
    background-color: var(--fondo-Menu);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left > a {
    align-items: center;
    padding-right: 25px;
    text-decoration: none;
    margin-top: 5px;
}

.left > a > p{
    text-transform: uppercase;
    background-color: var(--gris-claro); 
    color: white;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-align: center;
    font-size: 12px;
}

.inicio_clase{
    justify-content: flex-end;
}

.activePaso > a , .activeGenerales > a {
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
    align-items: center;
}

.activePaso {
    background-color: var(--magenta);
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 130px;
    height: 20px;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.897);
    margin-right: 5px;
}

.activeGenerales {
    background-color: var(--celeste);
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 130px;
    height: 20px;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.897);
}

.activeTexto {
    color: white;
    justify-content: flex-start;
    padding: 10px;
}

.left > ul{
    display: flex;
}

.verde {
    background-color: var(--mensaje-usuario-verde);
    border: 1px solid white;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    align-items: center;
}

#mensaje_verde {
    margin-left: 10px;
}


.rojo {
    background-color: var(--mensaje-usuario-rojo);
    border: 1px solid white;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    align-items: center;
}

#mensaje_rojo{
    margin-left: 10px;
}

.amarillo {
    background-color: var(--mensaje-usuario-amarillo);
    border: 1px solid white;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    align-items: center;
}

#mensaje_amarrillo {
    margin-left: 10px;
}

#sec-titulo{
    position: relative;
    left: 175px;
}

.grillacenter {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-right: 100px;
}


.grilla {
    display: grid;
    grid-template-columns: 200px 150px 605px 325px;
    grid-template-rows: auto 300px;
    border-radius: 15px;
    border: 1px var(--borde-Grilla) solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(243, 241, 241);
    /* margin-right: 50px; */
}

.c1, .c2, .c3, .c4 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px var(--borde-Grilla) solid;
    padding-bottom: 10px;
}

.c5 {
    display: flex;
    justify-content: center;
}


.c5 > svg{
    left: 10px;
    width: 225px;
    height: 180px;
}

.c5 > svg > .leaflet-interactive {
    position: relative;
    left: 1px;
}




.c6 > h2{
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-left: 10px;
}

/* .c6 > p{

    margin-right: 5px;
} */

.c6 > p {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: 'Roboto' sans-serif;
    color: var(--celeste);
}


.c7 {
    display: flex;
    
}


.mesas {
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 5px;
    align-items: flex-start;
    display: flex;
    width: 250px;
    margin: 10px 10px auto;
    height: 90px;
    display: flex;
    align-items: center;
}


.electores {
    background-color: var(--magenta);
    border-radius: 5px;
    padding: 5px;
    align-items: flex-start;
    display: flex;
    width: 250px;
    height: 90px;
    margin: 10px 10px auto;
    display: flex;
    align-items: center;
}

.participacion {
    background-color: var(--morado);
    border-radius: 5px;
    padding: 5px;
    align-items: flex-start;
    display: flex;
    width: 250px;
    margin: 10px 10px auto;
    height: 90px;
    align-items: center;
}

.mesas >h4,
p {
    color: white;
    font-size: 12px;
}

.participacion>h4,
p {
    color: white;
    font-size: 12px;
}

.electores>h4,
p {
    color: white;
    font-size: 12px;
}

.partidoscenter {
    display: flex;
    justify-content: space-between;
}

.leftgrilla {
    margin-left: 3px;
}

.rigthgrilla {
    margin-right: 10px;
}

.leftgrilla > p {
    color: black;
    font-weight: bold;
    line-height: 40px;
    font-size: 10px;
}

.rigthgrilla > p{
    color: black;
    line-height: 22px;
    font-size: 10px;
}

.texto-tarjetas {
    display: flex;
    flex-direction: column;
}

.texto-tarjetas > h4{
    height: 10px;
}

.texto-tarjetas > h4,p{
    color: white;
    /* font-weight: bold; */
}



#caja_8{
    overflow-x: hidden;
    overflow-y: auto;
}